<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net48" />
  <package id="Fody" version="6.6.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net48" />
</packages>